    
 .doctorsListContainer{
  position: absolute;
  margin-left:8%;
  margin-right: 8%;
  padding-top: 30px;
 }

   .formSearch
  {
    padding:10px 0;
    box-sizing: border-box; 
    background-color: lightgray;
    margin-bottom: 10px;
    height:64px;
    padding-left: '10px'
 } 

 .headerButton{
    margin: 0;
    text-align: left;
    background-color: lightseagreen;
    color: white;
 }

 .activeCheckbox{
   margin-top: 2.5%;
 }
 
 .Empheading {
    text-align: left;
    background: lightseagreen;
    height: 45px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
}
.headercon{
    margin-top:2%;  
}

.doctorContainer{
  position: absolute;
  margin-left:8%;
  margin-right: 8%;
}
  .edit > :hover{
      text-align: center;
     cursor: hand;
 }

 .doctorHeadercon{
   margin-top: 2%;
 }



 /* The checkbox */
.chkBox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.chkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chkBox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chkBox input:checked ~ .checkmark {
    background-color: #e040fb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chkBox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chkBox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.docSubmit{
     margin-left: 45%;
     margin-bottom: 8px;
}


 .selectDropdown{
     z-index: 1000px;
 }
